@media (max-width: 800px) {
    #cards-container {
      display: flex;
      justify-content: center;
    }
    #events-container .card {
      flex: 1;
      min-width: 50%;
      border-radius: 10px;
      padding: 0;
      margin: 5px;
    }
}

@media (max-width: 1320px) {
  .imagemHome {
    height: 475px;
  }
}

@media (max-width: 1300px) {
  .imagemHome {
    display: none;
  }
}