* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1em;
}

h1 {
  color: #1D4B80;
  font-weight: bold;
}


header {
  background-color: #6aa570;
  border-bottom: 1px solid #355738;
}

.container-fluid {
  padding: 0;
}

.btn-primary {
  background-color: #6aa570;
  border: 2px solid #004b07;
}

.btn-primary:hover {
  background-color: #508055;
  border-color: #508055;
}

.msg {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

.thereAreNoEvents {
  background-color: #edd4d4;
  color: #571515;
  border: 1px solid #e6c3c3;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

.thereAreNoEvents a {
  color: #571515;
  font-weight: bold;
  text-decoration: none;
}

.thereAreNoEvents a:hover {
  text-decoration: underline;
}

.youDontHaveConsults, .youDontHavePets {
  background-color: #eceeb3;
  color: #9fa10f;
  border: 1px solid #d9e466;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

.youDontHaveConsults a, .youDontHavePets a {
  color: #9fa10f;
  font-weight: bold;
  text-decoration: none;
}

.youDontHaveConsults a:hover, .youDontHavePets a:hover {
  text-decoration: underline;
}

.youHaveConsults, .editProfile {
  background-color: #bceeb3;
  color: #25a10f;
  border: 1px solid #66e477;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

.youHaveConsults a, .editProfile a {
  color: #1ba10f;
  font-weight: bold;
  text-decoration: none;
}

.youHaveConsults a:hover, .editProfile a:hover {
  text-decoration: underline;
}

.totalConsults {
  background-color: #bceeb3;
  color: #218b0e;
  border: 1px solid #66e477;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

.image-event {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='file'] {
  display: none;
}

.label-image {
  padding: 6px 12px;
  border-radius: 5px;
}

/* Navbar */

.hvUenpLogo {
  width: 70px;
  margin-left: 1rem;
}

.uenpLogo{
  width: 100px;
}

.navbar{
  background-color: #6aa570;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar a {
  font-size: 16px;
  color: #ffffff;
}

.navbar a:hover {
  color: #ffffff;
  font-weight: bolder;
}

.navbar-toggler{
  color: #ffffff;
}

/* Search Container */

#search-container {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  padding: 50px;
  text-align: center;
}

#search-container h1 {
  color: #F2A340;
  margin-bottom: 30px;
  font-weight: 900;
}

#search-container form {
  display: flex;
  width: 50%;
  margin: 0 auto;
}

#search-container .form-control {
  margin-right: 20px;
}

button .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

button ion-icon {
  font-size: 20px;
}

/* Events list */

#events-container {
  padding: 50px;
}

#events-container h2 {
  margin-bottom: 10px;
}

#events-container .subtitle {
  color: #757575;
  margin-bottom: 30px;
}

#cards-container {
  display: flex;
  justify-content: center;
}

#events-container .card {
  flex: 1 1 24%;
  max-width: 25%;
  border-radius: 10px;
  padding: 0;
  margin: .5%;
}

#events-container img {
  max-height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card .card-date {
  font-size: 12px;
  color: #afafaf;
}

.card .card-title {
  color: #212121;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.card-participants {
  font-size: 14px;
  color: #757575;
}

.space-btn {
  height: 60px;
}

.card img {
  object-fit: cover;
}

#btn-card {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* Event create page */

#event-create-container {
  padding: 30px
}

#event-create-container label {
  font-weight: bold;
}

#event-create-container label.label-image {
  font-weight: normal;
}

#event-create-container .btn-primary {
  font-size: 20px;
}

#event-create-container input, #event-create-container select, #event-create-container textarea {
  font-size: 12px;
}

.form-group {
  margin-bottom: 20px;
}

/* Event page */

#info-container .already-joined-msg {
  margin: 15px 0;
  color: #c28008;
  background-color: #ffedcc;
  border: 1px solid #ffe3b8;
  padding: 10px;
  width: 275px;
}

.image-conatiner {
  margin: 0;
  padding: 0;
  border: 1px dashed #ececec;
  border-radius: 20px;
}

#image-container, #info-container {
  margin-top: 30px;
}

#image-container img {
  border-radius: 20px;
  object-fit: cover;
}

#info-container h1 {
  font-size: 36px;
  font-weight: 900;
}

#info-container p {
  /* margin: 0; */
  font-size: 16px;
  display: flex;
}

#info-container h3, #description-container h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

#description-container ion-icon, #info-container ion-icon {
  font-size: 20px;
  color: #f2a340;
  margin-right: 5px;
}

#info-container #event-submit {
  margin: 20px 0;
}

#items-list {
  list-style: none;
  padding-left: 0;
}

#items-list li {
  display: flex;
}

/* Dashboard */

.dashboard-title-container {
  margin: 30px 0px 30px 30px;
}

.dashboard-events-container th {
  width: 25%;
}

.dashboard-events-container form {
  display: inline-block;
}

.dashboard-events-container ion-icon {
  font-size: 20px;
}

.titleTD {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.titleTD:hover {
  text-decoration: underline;
  color: #000;
}

.edit-btn {
  color: #ffffff;
  font-weight: 400;
  font-size: 14;
}

.edit-btn:hover {
  color: #ffffff;
  background: #089fbd;
  border-color: #089fbd;
  font-size: 14;
}

.userDashboard {
  display: flex;
}

.labelDashboard {
  color: #000;
  font-weight: bold;
}

.inputDashboard {
  border: none;
}

/* Edit page */

.img-preview {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  border-radius: 20px;
}

.img-preview-create {
  font-weight: bold;
  font-size: 14px;
  border: 1px dashed #ececec;
  text-align: center;
  color: #d6d6d6;
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  border-radius: 20px;
}

/* footer */

footer {
  text-align: center;
  background-color: #6aa570;
  color: #ffffff;
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-bottom: 0;
}

/*home*/
.header {
	padding-top: 8rem;
	padding-bottom: 4em;
	background-color: #ffffff;
	background-size: cover;
	text-align: center;
}

.header .h1-large {
	margin-bottom: 1.75rem;
}

.header .ul-large {
	margin-bottom: 2.25rem;
}

.header .image-container {
	margin-top: 5rem;
}

.btn {
  border-color: #1D4B80;
  color: #ffffff;
  background-color: #1D4B80;
  font-size: 14;
}

.btn:hover {
  background-color: #0a2f5a;
  border-color: #0a2f5a;
  font-weight: bolder;
  font-size: 14;
}

/*Cadastro Pet*/

.btnPet{
  width: 100%;
}

.containerCadPet{
  width: 500px;
  height: 450px;
  position: absolute;
  grid-template-columns: repeat(2, 1fr);
  background-color: #e5f1e2;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  justify-content: center;
}

/*Meus Pets*/

.btn-danger{
  background-color: #B60000;
  border-color: #B60000;
}

.btn-danger:hover{
  background-color: #750000;
  border-color: #750000;
}

.containerMPets li {
  width: 230px;
  height: 200px;
  margin: 0;
  border-radius: 5px;
  border: none;
  background: #e5f1e2;
  float: left;
  overflow: hidden;
}